.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.user-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}


.user-icon {
    font-size: 3rem; 
    color: #4f4f4f;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.user-icon i {
    font-size: 200px;
}

.first-name, .last-name, .mbti, .city, .state, .interests, .bio {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 5px;
}

.username {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.delete-profile-button {
    display: flex;
    justify-content: center; 
    height: 100%; 
}

.delete-profile-button button {
    display: flex;
    background-color: #f8f9fa;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}
