/* ManageReviews.module.css */

.manage-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reviews-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.review-item {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%; 
    box-sizing: border-box;
}

